@model eBuy.ViewModels.ProductsViewModel

<div class="container">
    <p class="mb-5">
        <a asp-action="CreateProduct" class='btn btn-success text-white text-decoration-none'>Create Product</a>
    </p>

    <table id="DT_load" class="table table-striped">
        <thead>
            <tr>
                <th class="pl-2">#</th>
                <th class="pl-2">Name</th>
                <th class="pl-2">Description</th>
                <th class="pl-2">Quantity</th>
                <th class="pl-2">Unit Price</th>
                <th class="pl-2">Date Created</th>
                <th class="pl-2">Date Modified</th>
                <th class="text-center">Enabled</th>
                <th class="text-center">Actions</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var controller = "admin";
            var columns = [
                { "data": "id" },
                { "data": "name" },
                { "data": "description" },
                { "data": "quantity" },
                { "data": "unitPrice" },
                { "data": "dateCreated" },
                { "data": "dateModified" },
                {
                    'data': function (data) {
                        if (data.isEnabled == true) {
                            return `<h4 class="text-center"><span class="text-success font-weight-bold">&#10003;</span></h4>`
                        }
                        else {
                            return `<h4 class="text-center"><span class="text-danger font-weight-bold">&#10539;</span></h4>`
                        }
                    }
                },
                {
                    'data': function (data) {
                        return `<div class="text-center"><a class="ml-1 mr-1" href="/${controller}/edit?id=${data.id}"><span class="fa fa-pencil"></span></a><a href="#" onclick=Delete("admin",${data.id})><span class="fa fa-trash"></span></a></div>`
                    }
                },
                { "data": "id" }

            ];
            loadDataTable(controller, columns, 8);
        });
    </script>
}
